<div class="row" [class]="containerClass ? containerClass : 'mt-5'">
    <div class="col-lg-4 col-xl-4" *ngFor="let plan of pricingPlans">
        <div class="card border hoverable">
            <div class="card-img-top-overlay d-none d-lg-block" *ngIf="plan.recommended">
                <span class="card-badge top-right bg-warning text-white shadow-sm">
                    Recommended
                </span>
            </div>
            <div class="card-body">
                <h4 class="my-0 text-primary">{{plan.name}}</h4>
                <h1 class="mb-0">
                    <span class="fw-normal text-muted fs-13 align-top me-2">$</span>
                    <span class="fw-bolder display-5 me-1">{{plan.price}}</span>
                    <span class="fw-normal text-muted fs-13 align-middle"> / {{plan.duration ?
                        plan.duration : 'month'}}</span>
                </h1>

                <a [routerLink]="['.']" class="d-block mt-3"
                    [class]="plan.recommended ? 'btn btn-primary' : 'btn btn-soft-success'">Purchase
                    Now</a>

                <ul class="list-unstyled border-top pt-4 mt-4 text-start">
                    <li class="py-2 d-flex align-items-center" *ngFor="let feature of plan.features">
                        <i class="icon icon-xs text-success align-middle me-2" data-feather="check"></i>
                        <span>{{feature}}</span>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</div>