<section class="section py-6 position-relative">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col text-center">
                <h1 class="display-5 fw-semibold">Still have a question?</h1>
                <p class="text-muted mx-auto">Explore your most suitable option below</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="card shadow-none border mb-lg-0 rounded-sm" data-aos="fade-up" data-aos-duration="500">
                    <div class="card-body">
                        <h3 class="mt-0 fw-semibold">Get in touch</h3>
                        <p>Get in touch with our professional business development team and they'll answer your question
                            shortly</p>
                        <a [routerLink]="['../contact']" class="btn btn-outline-primary mt-4">Contact Us</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card shadow-none border mb-0 rounded-sm" data-aos="fade-up" data-aos-duration="1000">
                    <div class="card-body">
                        <h3 class="mt-0 fw-semibold">Explore Knowledge Base</h3>
                        <p>Learn more about all the features and functionality from our detailed knowledge base.</p>
                        <a [routerLink]="['../help']" class="btn btn-outline-primary mt-4">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>