<section class="py-5 position-relative">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <span class="badge rounded-pill badge-soft-primary px-2 py-1">Features</span>
                <h1 class="display-5 fw-semibold">Marketing Solutions that works for everyone</h1>
                <p class="text-muted mx-auto">
                    Start working with <span class="text-primary fw-bold">Prompt</span> to manage your marketing better.
                </p>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="300">
                <app-feature-widget icon="mail" iconBg="primary" title="Automated Campaigns"
                    description="Praesent ipsum libero, sollicitudin elementum et, condimentum non augue."
                    descrpClasses="mb-4 pb-3"></app-feature-widget>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-duration="600">
                <app-feature-widget icon="bar-chart" iconBg="orange" title="Business Analytics"
                    description="Mauris dapibus blandit hendrerit. Proin auctor est at bibendum odio faucibus sodales."
                    descrpClasses="mb-4 pb-3"></app-feature-widget>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-duration="900">
                <app-feature-widget icon="settings" iconBg="info" title="Easy Setup"
                    description=" Fusce mattis nibh vel tortor scelerisque, a pretium dolor posuere.."
                    descrpClasses="mb-4 pb-3"></app-feature-widget>
            </div>
        </div>
    </div>
</section>