<section class="position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <figure class="figure">
                    <!-- image -->
                    <img src="https://source.unsplash.com/GXNo-OJynTQ/1920x720" alt=""
                        class="figure-img img-fluid rounded" />

                    <!-- image caption -->
                    <figcaption class="figure-caption text-center">
                        The image caption referencing the above image
                    </figcaption>
                </figure>
            </div>
        </div>

        <!-- description start -->
        <div class="row mt-5" data-aos="fade-up" data-aos-duration="300">
            <div class="col-lg-6">
                <div class="pe-4">
                    <h3>About Client</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque beatae at
                        inventore excepturi numquam sint commodi alias, quam consequuntur corporis ex, distinctio
                        eaque sapiente pariatur iure ad necessitatibus in quod obcaecati natus consequatur. Sed dicta
                        maiores, eos culpa.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ps-4">
                    <h3>Project Description</h3>
                    <p>
                        Voluptatum animi, voluptate sint aperiam facere a nam, ex reiciendis eum nemo ipsum nobis,
                        rem illum cupiditate at quaerat amet qui recusandae hic, atque laboriosam perspiciatis? Esse
                        quidem minima, voluptas necessitatibus, officia culpa quo nulla, cupiditate iste vel unde magni.
                    </p>
                </div>
            </div>
        </div>
        <!-- description end -->

        <!-- portfolio item images start -->
        <div class="row mt-5">
            <div class="col-lg-12">
                <div data-toggle="image-gallery" data-delegate="a" data-type="image" data-enable-gallery="true">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="https://source.unsplash.com/sScmok4Iq1o" data-title="Office Desks">
                                <div class="card shadow rounded-sm">
                                    <div class="card-body p-1">
                                        <img src="https://source.unsplash.com/sScmok4Iq1o/1920x1260" alt=""
                                            class="img-fluid rounded-sm">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="https://source.unsplash.com/6ba_vdgx_go" data-title="Office Desks">
                                <div class="card shadow rounded-sm">
                                    <div class="card-body p-1">
                                        <img src="https://source.unsplash.com/6ba_vdgx_go/1920x1260" alt=""
                                            class="img-fluid rounded-sm">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- portfolio item images end -->

        <!-- work description start -->
        <div class="row mt-5" data-aos="fade-up" data-aos-duration="300">
            <div class="col-lg-12">
                <h3>What We Did?</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque beatae at
                    inventore excepturi numquam sint commodi alias, quam consequuntur corporis ex, distinctio
                    eaque sapiente pariatur iure ad necessitatibus in quod obcaecati natus consequatur. Sed dicta
                    maiores, eos culpa.
                </p>

                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="d-flex align-items-center mb-2 mb-xl-0">
                            <span
                                class="bg-soft-primary avatar avatar-sm rounded icon icon-with-bg icon-xs text-primary me-4 flex-shrink-0">
                                <i data-feather="figma" class="icon-dual-primary"></i>
                            </span>
                            <div class="flex-grow-1">
                                <h5 class="my-0">UI/UX Design</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex align-items-center mb-2 mb-xl-0">
                            <span
                                class="bg-soft-primary avatar avatar-sm rounded icon icon-with-bg icon-xs text-primary me-4 flex-shrink-0">
                                <i data-feather="hexagon" class="icon-dual-primary"></i>
                            </span>
                            <div class="flex-grow-1">
                                <h5 class="my-0">Brand Identity</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex align-items-center mb-2 mb-xl-0">
                            <span
                                class="bg-soft-primary avatar avatar-sm rounded icon icon-with-bg icon-xs text-primary me-4 flex-shrink-0">
                                <i data-feather="image" class="icon-dual-primary"></i>
                            </span>
                            <div class="flex-grow-1">
                                <h5 class="my-0">Web Devblopment</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="mt-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia neque beatae at
                    inventore excepturi numquam sint commodi alias, quam consequuntur corporis ex, distinctio
                    eaque sapiente pariatur iure ad necessitatibus in quod obcaecati natus consequatur. Sed dicta
                    maiores, eos culpa.
                </p>

                <h5 class="mt-5">Technologies Used</h5>
                <p class="mb-2"><i class="icon-xs icon me-2" data-feather="minus"></i>Sketch & Illustrator</p>
                <p class="mb-2"><i class="icon-xs icon me-2" data-feather="minus"></i>React JS</p>
                <p class="mb-2"><i class="icon-xs icon me-2" data-feather="minus"></i>Django - A Web Framework in Python
                </p>
                <p class="mb-2"><i class="icon-xs icon me-2" data-feather="minus"></i>PostgreSQL - Relational Database
                    System</p>

            </div>
        </div>
        <!-- work description end -->
    </div>
</section>