<section>
    <!-- navbar -->
    <app-navbar-3 navClass="navbar-light" ctaButtonClass="btn-orange btn-sm" [fixedWidth]="true" [sticky]="true">
    </app-navbar-3>
    <!-- hero -->
    <app-hero-1></app-hero-1>
    <!-- features -->
    <app-features-1></app-features-1>
    <!-- feature 2 -->
    <app-features-2 [features]="features2"></app-features-2>
    <!-- testimonials -->
    <app-testimonials></app-testimonials>
    <!-- cta -->
    <app-cta></app-cta>
    <!-- footer -->
    <app-footer></app-footer>
    <!-- back to top -->
    <a class="btn btn-soft-primary shadow-none btn-icon btn-back-to-top" href="javascript:void(0)" appScrollToTop>
        <i class="icon-xxs" data-feather="arrow-up"></i>
    </a>
</section>