<div class="header-7 bg-gradient2">
    <!-- navbar -->
    <app-navbar-1 navClass="navbar-light zindex-10" ctaButtonClass="btn-outline-secondary btn-sm" [fixedWidth]="true">
    </app-navbar-1>
    <!-- hero -->
    <app-contact-hero></app-contact-hero>
</div>
<!-- contact us -->
<app-contact-us></app-contact-us>
<!-- footer -->
<app-footer-2></app-footer-2>
<!-- back to top -->
<a class="btn btn-soft-primary shadow-none btn-icon btn-back-to-top" href="javascript:void(0)" appScrollToTop><i
        class="icon-xxs" data-feather="arrow-up"></i></a>