<section class="section py-4 py-sm-7 position-relative overflow-hidden" data-aos="fade-up">
    <div class="container testimonials-3">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="display-5 fw-medium">See what our members are saying</h1>
            </div>
            <div class="col-auto text-sm-end pt-2 pt-sm-0">
                <div class="navigations">
                    <button class="btn btn-link text-orange p-0 swiper-custom-prev">
                        <svg class="bi bi-arrow-left" width="1.75em" height="1.75em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.854 4.646a.5.5 0 010 .708L3.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
                                clip-rule="evenodd"></path>
                            <path fill-rule="evenodd" d="M2.5 8a.5.5 0 01.5-.5h10.5a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <button class="btn btn-link text-orange p-0 swiper-custom-next">
                        <svg class="bi bi-arrow-right" width="1.75em" height="1.75em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z"
                                clip-rule="evenodd"></path>
                            <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-3 mt-sm-5">
            <div class="col">
                <div class="slider">
                    <swiper [config]="config" class="swiper-container">
                        <ng-template swiperSlide *ngFor="let testimonial of testimonials">
                            <div class="card mb-0 shadow border">
                                <div class="card-body p-md-5">
                                    <h5 class="fw-normal mb-4 mt-0">
                                        {{testimonial.text}}
                                    </h5>
                                    <div class="d-flex text-align-start">
                                        <img class="me-2 rounded-circle" [src]="testimonial.customer.avatar" alt=""
                                            height="36" />
                                        <div class="flex-grow-1">
                                            <h6 class="m-0">{{testimonial.customer.name}}</h6>
                                            <p class="my-0 text-muted fs-13">{{testimonial.customer.designation}}</p>
                                        </div>
                                        <img [src]="testimonial.logo" alt="" height="32" />
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
    </div>
</section>