<section class="pt-4 pt-sm-6 pb-5 desktop-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="text-center">
                    <h1 class="text-dark">Be the first to know!</h1>
                    <p class="">We'll inform you about new updates, features, but no spam, we promise.</p>
                </div>

                <div class="my-4 my-sm-5 pt-0 d-flex align-items-center justify-content-center">
                    <div class="row g-2">
                        <div class="col-sm-8">
                            <label class="visually-hidden" for="email">Email</label>
                            <input type="email" class="form-control mb-2 me-sm-2 shadow-sm" name="email" id="email"
                                placeholder="Your Email">
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mt-5">
                    <h5 class="fw-normal">2020 &copy; Copyright. All rights reserved. Crafted by <a
                            href="https://coderthemes.com/" target="_blank">Coderthemes</a></h5>
                    <ul class="list-inline mt-4">
                        <li class="list-inline-item mx-4 mb-3"><a [routerLink]="['.']" class="text-dark">Changelog</a>
                        </li>
                        <li class="list-inline-item mx-4 mb-3"><a [routerLink]="['.']" class="text-dark">FAQ</a></li>
                        <li class="list-inline-item mx-4 mb-3"><a [routerLink]="['.']" class="text-dark">Press kit</a>
                        </li>
                        <li class="list-inline-item mx-4 mb-3"><a [routerLink]="['.']" class="text-dark">Contact us</a>
                        </li>
                        <li class="list-inline-item mx-4 mb-3"><a [routerLink]="['.']" class="text-dark">Careers
                                <span
                                    class="align-middle badge badge-soft-info rounded-pill fw-normal fs-11 px-2 py-1">We're
                                    hiring</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>