<div class="border rounded px-4 py-3">
    <div class="mb-4">
        <h4 class="mt-0">
            Get the latest on product development from Prompt
        </h4>
        <p class="text-muted">We send a weekly newsletter containing latest updates in product development</p>
    </div>

    <!-- Subscribe form start -->
    <form novalidate="novalidate">
        <label class="visually-hidden form-label" for="email">Subscribe</label>
        <div class="mb-2">
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email"
                aria-label="Enter Your Email" required="">
        </div>
        <a href="javascript:void(0);" type="submit" class="btn btn-primary d-block mb-1">Subscribe</a>
        <p><small>*No spam ever.</small></p>
    </form>
    <!-- Subscribe form end -->
</div>