<section class="position-relative py-6">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-start">
                <h1 class="display-5 fw-semibold">What I Do</h1>
                <p class="text-muted mx-auto">
                    Connecting brands and companies with their customers through <span
                        class="text-danger fw-medium">good design</span>.
                </p>
            </div>
        </div>
        <div class="row pt-5 align-items-center features-9">
            <div class="col-lg-4">
                <div class="card shadow feature-item rounded-0" data-aos="fade-up" data-aos-duration="600">
                    <div class="card-body text-start">
                        <div class="bg-soft-danger avatar avatar-sm icon icon-with-bg icon-xs text-danger">
                            <i data-feather="figma" class="icon-dual-danger"></i>
                        </div>
                        <h4 class="mt-4 text-dark">UI/UX Design</h4>
                        <p class="text-muted mb-0">There are many variations of passages of Lorem Ipsum available, but
                            the majority have suffered.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card shadow feature-item rounded-0" data-aos="fade-up" data-aos-duration="900">
                    <div class="card-body text-start">
                        <div class="bg-soft-danger avatar avatar-sm icon icon-with-bg icon-xs text-danger">
                            <i data-feather="copy" class="icon-dual-danger"></i>
                        </div>
                        <h4 class="mt-4 text-dark">Product Design</h4>
                        <p class="text-muted mb-0">All the Lorem Ipsum generators on the Internet tend to repeat
                            predefined chunks as necessary making.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card shadow feature-item rounded-0" data-aos="fade-up" data-aos-duration="1200">
                    <div class="card-body text-start">
                        <div class="bg-soft-danger avatar avatar-sm icon icon-with-bg icon-xs text-danger">
                            <i data-feather="image" class="icon-dual-danger"></i>
                        </div>
                        <h4 class="mt-4 text-dark">Frontend Development</h4>
                        <p class="text-muted mb-0">The standard chunk of Lorem Ipsum used since the 1500s is reproduced
                            below for those interested</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>