<div class="header-1">
    <!-- navbar -->
    <app-navbar-1 navClass="navbar-light zindex-10" ctaButtonClass="btn-outline-primary btn-sm" [fixedWidth]="true">
    </app-navbar-1>
    <!-- hero -->
    <app-hero-7></app-hero-7>
</div>

<!-- coins -->
<app-crypto-coins [coins]="coins"></app-crypto-coins>
<!-- features -->
<app-crypto-features [features]="features"></app-crypto-features>
<!-- integrations -->
<app-crypto-integrations></app-crypto-integrations>
<!-- stats -->
<app-crypto-stats></app-crypto-stats>
<!-- blogs -->
<app-crypto-blogs [blogs]="blogs"></app-crypto-blogs>
<!-- footer -->
<app-footer-1></app-footer-1>
<!-- back to top -->
<a class="btn btn-soft-primary shadow-none btn-icon btn-back-to-top" href="javascript:void(0)" appScrollToTop><i
        class="icon-xxs" data-feather="arrow-up"></i></a>