<section class="section py-6 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow-none border mb-lg-0 rounded-sm">
                    <div class="card-body">
                        <h3 class="mt-0 fw-semibold">Get in touch</h3>
                        <p>
                            Don't find suitable opening? We'd still love to learn more about you. Contact us and we'll
                            reach out to have interesting conversation!
                        </p>
                        <a [routerLink]="['../contact']" class="btn btn-outline-primary mt-4">Contact Us</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card shadow-none border mb-0 rounded-sm">
                    <div class="card-body">
                        <h3 class="mt-0 fw-semibold">Meet the team</h3>
                        <p>
                            Learn more about us and who all work at Prompt. You will get chance to work with everyone in
                            the team.
                        </p>
                        <a [routerLink]="['../company']" class="btn btn-outline-primary mt-4">Meet our team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>