<app-portfolio-layout heroTitle="Portfolio Grid" [imageCategory]="imageCategory"
    (filterByCategory)="filterImages($event)">
    <div class="row grid-portfolio justify-content-center" id="filterable-content" gallery>
        <div class="col-sm-6 col-xl-4 filter-item all web illustrator" *ngFor="let item of galleryItems; let i=index">
            <div class="card card-portfolio-item shadow border filter-item all web graphic">
                <div class="p-2">
                    <div class="card-zoom">
                        <a href="javascript:void(0)" class="image-popup" [title]="item.image?.caption">
                            <img [src]="item.image?.thumb" (click)="open(i)" class="card-img-top"
                                [alt]="item.image?.caption">
                        </a>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div class="mt-2">
                        <h5 class="mt-0">{{item.title}}</h5>
                        <p class="text-muted mb-1">{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
</app-portfolio-layout>