<section class="position-relative overflow-hidden hero-10 pb-2 pt-7 pt-sm-3 pb-sm-7">
    <div class="container">
        <div class="row align-items-center text-center text-sm-start">
            <div class="col-lg-6 order-2 order-sm-1">
                <div class="img-container">
                    <img src="assets/images/hero/marketing.png" alt="" class="img-fluid" />
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1 order-sm-2" data-aos="fade-left">
                <h1 class="mt-0 mb-4 pb-2 hero-title">
                    Boost your <span class="highlight highlight-success d-inline-block">sales</span> with ease
                </h1>

                <p class="fs-17 text-muted">Explore a fully automated RIO driven digital marketing platform.</p>

                <div class="pt-4 pb-3">
                    <div class="row g-2 text-start">
                        <div class="col-sm-auto">
                            <label class="visually-hidden" for="email">email</label>
                            <div class="form-control-with-hint">
                                <input type="email" class="form-control" id="email" placeholder="Enter Your Email">
                                <span class="form-control-feedback uil uil-mail fs-18"></span>
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <button class="btn btn-primary mt-1 mt-sm-0">Start Free Trial</button>
                        </div>
                    </div>
                    <p class="text-muted fs-13 text-start mt-1">* No Credit Card Required</p>
                </div>
            </div>

        </div>
    </div>
    <div class="shape bottom">
        <svg width="1440px" height="40px" viewBox="0 0 1440 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="shape-b" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="curve" fill="#fff">
                    <path
                        d="M0,30.013 C239.659,10.004 479.143,0 718.453,0 C957.763,0 1198.28,10.004 1440,30.013 L1440,40 L0,40 L0,30.013 Z"
                        id="Path"></path>
                </g>
            </g>
        </svg>
    </div>
</section>