<section class="section py-5 features-2 position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span class="badge rounded-pill badge-soft-primary px-2 py-1">More Features</span>
                <h1 class="display-5 fw-semibold">Features that showcase your app</h1>
                <p class="text-muted mx-auto">
                    Start working with <span class="text-primary fw-bold">Prompt</span> to showcase your app to
                    thousands of people.
                </p>
            </div>
        </div>
        <div class="row my-5">

            <div class="col-lg-4" *ngFor="let feature of features;let i=index">
                <div class="card bg-gray-50 shadow-none shapes" data-aos="fade-up"
                    [attr.data-aos-duration]="(i + (1+i)) * 100">
                    <div *ngFor="let shape of feature.shapes" [class]="shape"></div>
                    <div class="card-body text-center py-0">
                        <h3 class="fw-semibold mt-0">{{feature.title}}</h3>
                        <p class="fs-14">
                            {{feature.description}}
                        </p>

                        <div class="px-2 mt-3">
                            <img [src]="feature.image" alt="" class="img-fluid mt-2" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>