<div class="header-5">
    <!-- navbar -->
    <app-navbar-1 navClass="navbar-light zindex-10" ctaButtonClass="btn-outline-orange btn-sm" [fixedWidth]="true">
    </app-navbar-1>
    <!-- hero -->
    <app-hero-2></app-hero-2>
</div>
<!-- about -->
<app-coworking-about [statistics]="statistics"></app-coworking-about>
<!-- features -->
<app-coworking-features [features]="features"></app-coworking-features>
<!-- space-options -->
<app-coworking-space-options [spaceOptions]="spaceOptions"></app-coworking-space-options>
<!-- testimonials -->
<app-coworking-testimonials [testimonials]="testimonials"></app-coworking-testimonials>
<!-- footer -->
<app-coworking-footer></app-coworking-footer>
<!-- back to top -->
<a class="btn btn-soft-orange shadow-none btn-icon btn-back-to-top" href="javascript:void(0)" appScrollToTop><i
        class="icon-xxs" data-feather="arrow-up"></i></a>