<ul class="navbar-nav align-items-lg-center" [class]="navClass" id="top-menu">
    <li class="nav-item">
        <a class="nav-link top-nav-link-ref" [routerLink]="'/pages/account/dashboard'" routerLinkActive="active"><i data-feather="grid" class="d-inline-block icon icon-xxs ms-1 mt-lg-0 mt-1"></i> Home</a>
    </li>

    <li class="nav-item dropdown" ngbDropdown #landingDrop="ngbDropdown">
        <a class="nav-link top-nav-link-ref dropdown-toggle" href="javascript:void(0)" (click)="landingDrop.toggle()"
            id="navbarLandings" [class.active]="isActive('/landing')">
            <i data-feather="folder" class="d-inline-block icon icon-xxs ms-1 mt-lg-0 mt-1"></i> Projects
        </a>
   
    </li>



    <li class="nav-item dropdown" ngbDropdown #pagesDrop="ngbDropdown" [autoClose]="false">
        <a class="nav-link top-nav-link-ref dropdown-toggle" href="javascript:void(0)" id="navbarPages"
            (click)="pagesDrop.toggle()" [class.active]="isActive('/pages')" [routerLink]="'/landing/coworking'" routerLinkActive="active">
            <i data-feather="list" class="d-inline-block icon icon-xxs ms-1 mt-lg-0 mt-1"></i> Tasks
        </a>
       
    </li>

    <li class="nav-item dropdown" ngbDropdown #docsDrop="ngbDropdown">
        <a class="nav-link top-nav-link-ref dropdown-toggle" href="javascript:void(0)" id="navbarDocs"
            [class.active]="isActive('/docs/introduction') || isActive('/docs/bootstrap') || isActive('/docs/change-log')"
            (click)="docsDrop.toggle()" [routerLink]="'/landing/portfolio'" routerLinkActive="active">
            <i data-feather="bar-chart-2" class="d-inline-block icon icon-xxs ms-1 mt-lg-0 mt-1"></i> Reports 
        </a>
      
    </li>


    <ng-container *ngIf="showDownload">
        <li class="nav-item" ngbDropdown>
            <a class="nav-link py-0" href="javascript:void(0)" id="user" ngbDropdownToggle>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <img src="assets/images/avatars/img-8.jpg" class="avatar avatar-xs rounded-circle me-2" alt="" />
                    </div>
                    <div class="flex-grow-1 ms-1 lh-base">
                        <span class="fw-semibold fs-13 d-block line-height-normal">Leslie C</span>
                        <span class="text-muted fs-13">Admin</span>
                    </div>
                </div>
            </a>
            <div class="p-2" aria-labelledby="user" ngbDropdownMenu>
                <ng-container *ngFor="let option of profileOptions; let i = index">
                    <div class="dropdown-divider" *ngIf="i === profileOptions.length - 1"></div>
                    <a class="dropdown-item p-2" [routerLink]="option.redirectTo">
                        <i class="icon icon-xxs me-1 icon-dual" [attr.data-feather]="option.icon"></i>
                        {{option.label}}
                    </a>
                </ng-container>
            </div>
        </li>

        
    </ng-container>

</ul>