<section class="py-5 py-sm-6 bg-gradient5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <a class="navbar-brand me-lg-4 me-auto pt-0" [routerLink]="['/']">
                    <img src="assets/images/logo.png" height="30" class="d-inline-block align-top" alt="" />
                </a>
                <div class="">
                    <p class="mt-3 mb-1 text-dark">At vero eos et accusamus et iusto dignissimos ducimus odio.</p>
                    <p class="mt-lg-5 pt-4 mb-lg-0 mb-4 text-dark">Prompt 2020. All rights reserved.</p>
                </div>
            </div>

            <div class="col-lg-7 offset-lg-1">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h6 class="mb-4 mt-4 mt-sm-2 text-dark fw-semibold text-uppercase">Navigations</h6>
                        <ul class="list-unstyled">
                            <li class="my-3"><a [routerLink]="['.']" class="text-dark">Home</a></li>
                            <li class="my-3"><a [routerLink]="['.']" class="text-dark">Locations</a></li>
                            <li class="my-3"><a [routerLink]="['.']" class="text-dark">Plans</a></li>
                            <li class="my-3"><a [routerLink]="['.']" class="text-dark">Events</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6 class="mb-4 mt-4 mt-sm-2 text-dark fw-semibold text-uppercase">Contact</h6>
                        <ul class="list-unstyled">
                            <li class="my-3"><a [routerLink]="['.']" class="text-dark">Support</a></li>
                            <li class="my-3"><a [routerLink]="['.']" class="text-dark">Developers</a></li>
                            <li class="my-3"><a [routerLink]="['.']" class="text-dark">Customer Service</a></li>
                            <li class="my-3"><a [routerLink]="['.']" class="text-dark">Get Started Guide</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <h6 class="mb-4 mt-4 mt-sm-2 text-dark fw-semibold text-uppercase">Subscribe To Newsletters</h6>
                        <div class="input-group my-3">
                            <input type="text" class="form-control h-auto" placeholder="Your email"
                                aria-label="keywords" />
                            <a [routerLink]="['.']" class="btn btn-secondary input-group-text"><i class="icon-xs"
                                    data-feather="mail"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>