<section class="my-5 py-5 position-relative">
    <div class="container" data-aos="fade-up" data-aos-duration="1500">
        <div class="row">
            <div class="col text-center">
                <span class="badge rounded-pill badge-soft-primary px-2 py-1">Pricing</span>
                <h1 class="display-5 fw-medium">Pricing Plans</h1>
                <p class="text-muted mx-auto">
                    Pricing that <span class="text-primary fw-bold">works</span> for everyone.
                </p>
            </div>
        </div>

        <div class="row mt-5 align-items-center justify-content-center">
            <div class="col-lg-12">
                <div class="table-responsive-lg w-lg-75 mx-lg-auto">
                    <table class="table">
                        <thead class="text-center">
                            <tr class="border-top">
                                <th scope="col" class="w-50"></th>
                                <th scope="col">
                                    <span class="text-dark">Starter</span>
                                    <small class="d-block text-body fw-normal">$40/mo</small>
                                </th>
                                <th scope="col" class="border-start border-end">
                                    <span class="text-dark">Professional</span>
                                    <span class="badge bg-orange rounded-pill ms-1">Popular</span>
                                    <small class="d-block text-body fw-normal">$60/mo</small>
                                </th>
                                <th scope="col" class="">
                                    <span class="text-dark">Enterprise</span>
                                    <small class="d-block text-body fw-normal">$300/mo</small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-top" *ngFor="let feature of planFeatures">
                                <td>{{feature.name}}</td>
                                <td class="text-center">
                                    <span class="icon icon-xs text-success" *ngIf="feature.starter.available">
                                        <i data-feather="check"></i>
                                    </span>
                                    <span class="badge bg-info rounded-pill"
                                        *ngIf="(!feature.starter.available && feature.starter.addon)">Add-on
                                        Available</span>
                                </td>
                                <td class="text-center border-start border-end">
                                    <span class="icon icon-xs text-success" *ngIf="feature.professional.available">
                                        <i data-feather="check"></i>
                                    </span>
                                    <span class="badge bg-info rounded-pill"
                                        *ngIf="(!feature.professional.available && feature.professional.addon)">Add-on
                                        Available</span>
                                </td>
                                <td class="text-center">
                                    <span class="icon icon-xs text-success" *ngIf="feature.enterprise.available">
                                        <i data-feather="check"></i>
                                    </span>
                                    <span class="badge bg-info rounded-pill"
                                        *ngIf="(!feature.enterprise.available && feature.enterprise.addon)">Add-on
                                        Available</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>