<section class="position-relative hero-11 py-1 pt-7 pb-sm-6">
    <div class="container hero-content">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h1 class="hero-title">The best way to <span
                        class="highlight highlight-success d-inline-block">showcase</span> your saas</h1>

                <p class="fs-17 text-muted pt-0">
                    Make your saas application stand out with high-quality landing page designed and developed by
                    professional
                </p>

                <div class="mt-4 mt-sm-5 pt-0 d-flex align-items-center justify-content-center">
                    <div class="row g-2 text-start">
                        <div class="col-sm-5">
                            <label class="visually-hidden" for="name">Name</label>
                            <input type="text" class="form-control mb-2 me-sm-2 shadow-sm" name="name" id="name"
                                placeholder="Your Name">
                        </div>
                        <div class="col-sm-5">
                            <label class="visually-hidden" for="email">Email</label>
                            <input type="email" class="form-control mb-2 me-sm-2 shadow-sm" name="email" id="email"
                                placeholder="Your Email">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary mb-2 text-nowrap">Sign Up</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-2 justify-content-center">
                    <div class="me-4"><i data-feather="check-circle"
                            class="icon icon-dual-success icon-xs me-1"></i>Free 14-day Demo</div>
                    <div class="me-4"><i data-feather="check-circle" class="icon icon-dual-success icon-xs me-1"></i>No
                        credit card needed</div>
                    <div><i data-feather="check-circle" class="icon icon-dual-success icon-xs me-1"></i>No Setup</div>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>

    <div class="feature-container position-relative overflow-hidden mt-5 mb-4">
        <div class="container">
            <div class="row align-items-center justify-content-center zindex-1 slider-container">
                <div class="col-10 text-center zindex-1">
                    <div class="card rounded-lg shadow" data-aos="fade-up" data-aos-duration="2000">
                        <div class="card-body slider-container-body">
                            <!-- Swiper -->
                            <app-swiper-slider-3 [images]="images"></app-swiper-slider-3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>