<app-auth-layout [hasSlider]="true">
    <ng-container cardContent>

        <h6 class="h5 mb-0 mt-3" i18n>Create Your Account</h6>
        <p class="text-muted mt-1 mb-4" i18n>Don't have an account? Create your account, it takes less than a
            minute.</p>

        <form class="authentication-form" [formGroup]="signUpForm" class="authentication-form" (ngSubmit)="onSubmit()">
            <app-ui-preloader [display]="loading"></app-ui-preloader>
            <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
            <div class="mb-3">
                <label for="exampleName" class="form-label" i18n>Your Name <small>*</small></label>
                <input type="email" class="form-control" id="exampleName" aria-describedby="exampleName"
                    i18n-placeholder placeholder="Your Name" name="name" formControlName="name" required
                    [ngClass]="{'is-invalid':formSubmitted && formValues['name'].invalid}" />
                <div *ngIf="formSubmitted && formValues['name'].invalid" class="invalid-feedback">

                    <div *ngIf="formValues['name'].errors?.['required']" i18n>
                        Name is required.
                    </div>

                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" i18n>Email <small>*</small></label>
                <input type="email" class="form-control" id="exampleInputEmail1" i18n-placeholder placeholder="Email"
                    name="email" formControlName="email" required
                    [ngClass]="{'is-invalid':formSubmitted && formValues['email'].invalid}" />
                <div *ngIf="formSubmitted && formValues['email'].invalid" class="invalid-feedback">

                    <div *ngIf="formValues['email'].errors?.['required']" i18n>
                        Please enter email
                    </div>
                    <div *ngIf="formValues['email'].errors?.['email']" i18n>
                        Email must be a valid Email Address
                    </div>

                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" i18n>Password <small>*</small></label>
                <input type="password" class="form-control" id="password" name="password" i18n-placeholder
                    placeholder="Enter your password" formControlName="password"
                    [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}" required />
                <div *ngIf="formSubmitted && formValues['password'].invalid " class="invalid-feedback">

                    <div *ngIf="formValues['password'].errors?.['required']" i18n>
                        Password is required.
                    </div>

                </div>

            </div>

            <div class="mb-0 text-center d-grid">
                <button class="btn btn-primary" type="submit" i18n>Register</button>
            </div>
        </form>
        <div class="py-3 text-center"><span class="fs-13 fw-bold" i18n>OR</span>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a [routerLink]="['.']" class="btn btn-white w-100">
                    <i data-feather="github" class='icon icon-xs me-2' i18n></i>Sign Up with Github</a>
            </div>
        </div>
    </ng-container>
    <p class="text-muted" footerLink i18n>Already have an account? <a [routerLink]="['../login']"
            class="text-primary fw-semibold ms-1">Log In</a>
    </p>
</app-auth-layout>