<section class="position-relative overflow-hidden py-7 features-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="mb-5 mb-lg-0" data-aos="fade-up" data-aos-duration="200">
                    <span
                        class="bg-soft-primary avatar avatar-sm rounded-lg icon icon-with-bg icon-xs text-primary me-3">
                        <i data-feather="disc" class="icon-dual-primary"></i>
                    </span>
                    <h1 class="text-dark pt-3">Smart Payroll. Paying your people couldn't be easier</h1>
                    <p class="text-muted my-4">You can modify your pages with drag-dropping , can import demos with just
                        ” One Click” and can modify theme setting easy-to-use options panel.</p>
                    <a [routerLink]="['.']" class="h6 text-primary pt-3">Learn more <i class="ms-1 icon-xxs"
                            data-feather="arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-6 offset-lg-1">
                <div class="img-content2 position-relative">
                    <div class="img-up">
                        <img src="assets/images/hero/saas2.jpg" alt="app img" class="img-fluid d-block rounded"
                            data-aos="fade-left" data-aos-duration="300" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>