<section class="section pt-8 pb-6 bg-gradient3 position-relative" data-aos="fade-up">
    <div class="divider top d-none d-sm-block"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span class="badge rounded-pill badge-soft-primary px-2 py-1">Stats</span>
                <h1 class="display-5 fw-medium">Prompt In Numbers</h1>
                <p class="text-muted mx-auto"></p>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-6 col-md-3 mb-4 mb-sm-0">
                <div class="display-4 fw-normal">
                    <span [countUp]="50" [options]="{duration:5,suffix:'M+',prefix:'$'}">10</span>
                </div>
                <p class="mt-2 mb-0 fw-semibold">Value transacted</p>
                <p>in overall sell/buy transactions</p>
            </div>

            <div class="col-6 col-md-3 mb-4 mb-sm-0">
                <div class="display-4 fw-normal">2.1M+</div>
                <p class="mt-2 mb-0 fw-semibold">Transactions Processed</p>
                <p>across 10+ countries</p>
            </div>

            <div class="col-6 col-md-3 mb-4 mb-sm-0">
                <div class="display-4 fw-normal">2M+</div>
                <p class="mt-2 mb-0 fw-semibold">Satisfied Processed</p>
                <p>across 100+ locations</p>
            </div>

            <div class="col-6 col-md-3 mb-4 mb-sm-0">
                <div class="display-4 fw-normal">4.5</div>
                <p class="mt-2 mb-0 fw-semibold">Star App Rating</p>
                <p>on google play & apple store</p>
            </div>
        </div>
    </div>
</section>