<div>
    <!-- navbar -->
    <app-navbar-1 navClass="navbar-light zindex-10" ctaButtonClass="btn-outline-secondary btn-sm" [fixedWidth]="true">
    </app-navbar-1>
    <!-- hero -->
    <app-hero-9></app-hero-9>
</div>
<!-- about -->
<app-company-about></app-company-about>
<!-- features -->
<app-company-features></app-company-features>
<!-- stats -->
<app-company-stats [statistics]="statistics"></app-company-stats>
<!-- team -->
<app-company-team [teamMembers]="teamMembers"></app-company-team>
<!-- clients -->
<app-company-clients></app-company-clients>
<!-- footer -->
<app-footer-1></app-footer-1>
<!-- back to top -->
<a class="btn btn-info shadow-none btn-icon btn-back-to-top" href="javascript:void(0)" appScrollToTop><i
        class="icon-xxs" data-feather="arrow-up"></i></a>