<div>
    <!-- navbar -->
    <app-navbar-3 navClass="navbar-light" ctaButtonClass="btn-primary btn-sm" [fixedWidth]="true">
    </app-navbar-3>
    <!-- hero -->
    <app-hero-11>
    </app-hero-11>
</div>
<!-- feature start -->
<app-saas-features-1 containerClass="position-relative overflow-hidden py-4 pb-lg-7"></app-saas-features-1>
<app-saas-features-2></app-saas-features-2>
<app-saas-features-3></app-saas-features-3>
<!-- feature end -->
<!-- clients -->
<app-saas-clients></app-saas-clients>
<!-- testimonials -->
<app-saas-testimonials [sliderItems]="sliderItems"></app-saas-testimonials>
<!-- pricing -->
<app-saas-pricing [pricingPlans]="pricingPlans"></app-saas-pricing>
<!-- faqs -->
<app-saas-faqs [faqs]="faqs"></app-saas-faqs>
<!-- footer -->
<app-footer-1></app-footer-1>
<!-- back to top -->
<a class="btn btn-soft-primary shadow-none btn-icon btn-back-to-top" href="javascript:void(0)" appScrollToTop><i
        class="icon-xxs" data-feather="arrow-up"></i></a>