<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="avatar-sm icon icon-with-bg icon-xs rounded-sm bg-soft-{{variant}} me-3 flex-shrink-0">
                <i class="icon-dual-{{variant}}" [attr.data-feather]="icon"></i>
            </div>
            <div class="flex-grow-1">
                <h3 class="mt-0 mb-0">{{stats}}</h3>
                <p class="text-muted mb-0">{{title}}</p>
            </div>
        </div>
    </div>
</div>