<section class="py-5 position-relative" data-aos="fade-up">
    <div class="container">
        <div class="row features-8">
            <div class="col-lg-12">
                <div class="position-relative">
                    <div class="feature-content">
                        <div class="card p-4 border rounded shadow mb-0">
                            <div class="feature-text">
                                <span
                                    class="bg-soft-primary avatar avatar-sm rounded-lg icon icon-with-bg icon-xs text-primary mb-2">
                                    <i data-feather="sliders" class="icon-dual-primary"></i>
                                </span>
                                <h4 class="text-dark">Smart Campaign Monitoring</h4>

                                <p class="">
                                    Et harum quidem rerum facilis est et expedita distinctio at libero tempore cum
                                    soluta nobis est eligendi optio cumque.
                                </p>

                                <a [routerLink]="['.']" class="h6 text-primary my-0">Learn more <i class="ms-2 icon-xxs"
                                        data-feather="arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mt-sm-0 feature-img">
                        <div class="overlay"></div>
                        <img src="assets/images/features/marketing.jpg" alt=""
                            class="img-fluid d-block ms-auto rounded shadow" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>