<section class="hero-4 pb-5 pt-7 py-sm-7">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <h1 class="hero-title mt-0">
                    Let's work <span class="highlight highlight-warning d-inline-block">together</span>. Join
                    Prompt!
                </h1>
                <p class="fs-16 text-muted pt-3 w-75">
                    We're always open for new creative, analytical and technical minds to join our team. Search for
                    the suitable job.
                </p>
                <div class="pt-4 pb-md-5 mb-md-4">
                    <a [routerLink]="['.']" fragment="job-openings" class="btn btn-secondary mb-2">
                        View All Openings
                        <i class="icon-xxs ms-2" data-feather="arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="img-container text-end ps-lg-5" data-aos="zoom-in">
                    <div class="row align-items-center mt-md-0 mt-4">
                        <div class="col-6">
                            <div class="card shadow-lg">
                                <div class="card-body p-1">
                                    <img src="assets/images/photos/12.jpg" class="img-fluid" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow-lg">
                                        <div class="card-body p-1">
                                            <img src="assets/images/photos/14.jpg" class="img-fluid" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow-lg">
                                        <div class="card-body p-1 mb-0">
                                            <img src="assets/images/photos/15.jpg" class="img-fluid" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape bottom">
        <svg width="1440px" height="40px" viewBox="0 0 1440 40" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="shape-b" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="curve" fill="#fff">
                    <path
                        d="M0,30.013 C239.659,10.004 479.143,0 718.453,0 C957.763,0 1198.28,10.004 1440,30.013 L1440,40 L0,40 L0,30.013 Z"
                        id="Path"></path>
                </g>
            </g>
        </svg>
    </div>
</section>