<section class="position-relative hero-6 px-2 px-sm-0 pt-2 pb-2 pb-sm-5 pt-sm-7">
    <div class="shapes">
        <div class="shape1"></div>
        <div class="shape2"></div>
    </div>
    <div class="container">
        <div class="row align-items-center text-center text-sm-start">
            <div class="col-lg-5">
                <div class="">
                    <h1 class="mt-3 mb-4 pb-2 hero-title">Discover the true power of <span
                            class="highlight highlight-orange d-inline-block">Learning</span>.</h1>
                    <p class="fs-18 text-muted hero-sub-title">At vero eos et accusamus et iusto odio dignissimos
                        ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti dolores.</p>

                    <div class="pt-4">
                        <form class="form-inline">
                            <label class="visually-hidden" for="email">email</label>
                            <div class="form-control-with-hint me-0 me-sm-2">
                                <input type="email" class="form-control" id="email" placeholder="Enter Your Email">
                                <span class="form-control-feedback uil uil-mail fs-18"></span>
                            </div>
                            <button class="btn btn-secondary mt-1 mt-sm-0">Get Started</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 text-end">
                <div class="video-container">
                    <div class="video-item">
                        <div class="video-overlay d-flex align-items-center justify-content-center">
                            <a [routerLink]="['.']" class="btn-play orange"></a>
                        </div>
                        <img src="assets/images/hero/coworking1.jpg" alt="" class="img-fluid shadow" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>