<div class="header-3">
    <!-- navbar -->
    <app-navbar-1 navClass="navbar-light zindex-10" ctaButtonClass="btn-outline-primary btn-sm" [fixedWidth]="true">
    </app-navbar-1>
    <!-- hero -->
    <app-hero-10></app-hero-10>
</div>
<!-- features 1 -->
<app-marketing-features-1></app-marketing-features-1>
<!-- features 2 -->
<app-marketing-features-2></app-marketing-features-2>
<!-- features 3 -->
<app-marketing-features-3></app-marketing-features-3>
<!-- feature-4 -->
<app-marketing-features-4></app-marketing-features-4>
<!-- testimonials -->
<app-marketing-testimonial [sliderItems]="sliderItems"></app-marketing-testimonial>
<!-- footer -->
<app-marketing-footer></app-marketing-footer>
<!-- back to top -->
<a class="btn btn-soft-primary shadow-none btn-icon btn-back-to-top" href="javascript:void(0)" appScrollToTop><i
        class="icon-xs" data-feather="arrow-up"></i></a>