<header>
    <nav class="navbar navbar-expand-lg topnav-menu" [class]="navClass" [attr.id]="sticky ? 'sticky' : 'navbar-3'"
        appStickyNav>
        <div [class]="fixedWidth ? 'container' : 'container-fluid'">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/images/logo.png" height="30" class="d-inline-block align-top" alt="" />
            </a>
            <a href="javascript:void(0)" class="navbar-toggler" (click)="collapse.toggle()"
                [attr.aria-expanded]="showMobileMenu" aria-controls="topnav-menu-content3"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </a>
            <div class="collapse navbar-collapse" id="topnav-menu-content3" #collapse="ngbCollapse"
                [(ngbCollapse)]="!showMobileMenu">

                <app-menu [showDownload]="false" navClass="mx-auto"
                    [ctaButtonClass]="ctaButtonClass ? ctaButtonClass : 'btn-primary'" class="mx-auto">
                </app-menu>

                <ul class="navbar-nav">
                    <li class="nav-item" ngbDropdown>
                        <a class="nav-link py-0" href="javascript:void(0)" id="user" ngbDropdownToggle>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/avatars/img-8.jpg" class="avatar avatar-xs rounded-circle me-2" alt="" />
                                </div>
                                <div class="flex-grow-1 ms-1 lh-base">
                                    <span class="fw-semibold fs-13 d-block line-height-normal">Leslie C</span>
                                    <span class="text-muted fs-13">Admin</span>
                                </div>
                            </div>
                        </a>
                        <div class="p-2" aria-labelledby="user" ngbDropdownMenu>
                            <ng-container *ngFor="let option of profileOptions; let i = index">
                                <div class="dropdown-divider" *ngIf="i === profileOptions.length - 1"></div>
                                <a class="dropdown-item p-2" [routerLink]="option.redirectTo">
                                    <i class="icon icon-xxs me-1 icon-dual" [attr.data-feather]="option.icon"></i>
                                    {{option.label}}
                                </a>
                            </ng-container>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</header>