<section class="position-relative overflow-hidden features-1 py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span class="badge rounded-pill badge-soft-primary px-2 py-1">Features</span>
                <h1 class="display-5 fw-semibold">App works best with Prompt</h1>
                <p class="text-muted mx-auto">
                    Start working with <span class="text-primary fw-bold">Prompt</span> to showcase your app to
                    thousands of people.
                </p>
            </div>
        </div>
        <div class="row align-items-center mt-0 mt-sm-5">
            <div class="col-lg-5">
                <div class="img-content position-relative">
                    <div class="img-up">
                        <img src="assets/images/features/app2.png" alt="app-img" class="img-fluid d-block"
                            data-aos="zoom-in-right" />
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="row mt-5 mt-lg-0 ps-4 ps-sm-5">
                    <div class="col-md-6">
                        <app-feature-widget icon="mail" iconBg="primary" title="First feature"
                            description="We use a customized application tobe specifically designed a testing gnose to keep away for people."
                            descrpClasses="mb-4 pb-3"></app-feature-widget>
                    </div>
                    <div class="col-md-6">
                        <app-feature-widget icon="shield" iconBg="success" title="Second feature"
                            description="In order to design a mobile app that is going to be module downloaded and accessed frequently by users."
                            descrpClasses="mb-4 pb-3"></app-feature-widget>
                    </div>
                    <div class="col-md-6">
                        <app-feature-widget icon="sliders" iconBg="orange" title="Third feature"
                            description="A Private Limited is the most popular type of partnership Malta. The limited liabilityis"
                            descrpClasses="mb-4 pb-3"></app-feature-widget>
                    </div>
                    <div class="col-md-6">
                        <app-feature-widget icon="bell" iconBg="info" title="Fourth feature"
                            description="Few derived into talking being in merit long you'd his the of to had the to duties, it them one…"
                            descrpClasses="mb-4 pb-3"></app-feature-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>