<section class="pt-5 pb-4 bg-gradient3 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <a class="navbar-brand me-lg-4 mb-4 me-auto d-flex align-items-center pt-0" [routerLink]="['/']">
                    <img src="assets/images/logo.png" height="30" alt="" />
                </a>
                <p class="text-muted w-50">
                    On the other hand, we denounce with righteous indignation and dislike men who are so
                    beguiled and demoralized.
                </p>
            </div>
            <div class="col-xl-auto col-sm-4 col-6">
                <div class="ps-xl-5">
                    <h6 class="mb-3 mt-3 mt-sm-2 fs-14 fw-semibold text-uppercase">Resources</h6>
                    <ul class="list-unstyled">
                        <li class="my-3">
                            <a [routerLink]="['.']" class="text-muted">
                                Blog
                            </a>
                        </li>
                        <li class="my-3">
                            <a [routerLink]="['.']" class="text-muted">
                                FAQ
                            </a>
                        </li>
                        <li class="my-3">
                            <a [routerLink]="['.']" class="text-muted">
                                Team of service
                            </a>
                        </li>
                        <li class="my-3">
                            <a [routerLink]="['.']" class="text-muted">
                                Privacy policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-auto col-sm-4 col-6">
                <div class="ps-xl-5">
                    <h6 class="mb-3 mt-3 mt-sm-2 fs-14 fw-semibold text-uppercase">Company</h6>
                    <ul class="list-unstyled">
                        <li class="my-3">
                            <a [routerLink]="['.']" class="text-muted">
                                About Us
                            </a>
                        </li>
                        <li class="my-3">
                            <a [routerLink]="['.']" class="text-muted">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="row text-md-start text-center">
            <div class="col-md-8">
                <p class="pb-0 mb-0 text-muted">
                    {{today | date:'yyyy'}} © Prompt. All rights reserved. Crafted by
                    <a href="https://coderthemes.com/" target="_blank">Coderthemes</a>
                </p>
            </div>
            <div class="col-md-4 text-md-end">
                <div class="align-items-end mt-md-0 mt-4">
                    <ul class="list-unstyled mb-0">
                        <li class="d-inline-block me-4">
                            <a [routerLink]="['.']"><i data-feather="facebook" class="icon icon-xs"></i></a>
                        </li>
                        <li class="d-inline-block me-4">
                            <a [routerLink]="['.']"><i data-feather="twitter" class="icon icon-xs"></i></a>
                        </li>
                        <li class="d-inline-block">
                            <a [routerLink]="['.']"><i data-feather="linkedin" class="icon icon-xs"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>