<section class="position-relative pt-8 pb-4">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-4">
                <span class="border border-top w-25 border-soft-primary d-block"></span>
                <h1 class="display-5 fw-semibold mt-4">About Us</h1>
            </div>
            <div class="col-lg-4">
                <p class="text-muted mb-4">Temporibus autem quibusdam et aut as officiis debitis aut rerum
                    necessitatibus saepe eveniet voluptates repudiandae sint et molestiae non recusandae itaque
                    earum rerum hic tenetur a sapiente delectus reiciendis.</p>
            </div>
            <div class="col-lg-4">
                <p class="text-muted mb-4">Temporibus autem quibusdam et aut as officiis debitis aut rerum
                    necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae
                    itaque earum rerum hic tenetur a sapiente delectus reiciendis.</p>
            </div>
            <div class="col-lg-8 offset-lg-4">
                <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
    </div>
</section>