<div class="card card-listing-item">
    <div class="card-img-top-overlay">
        <div class="overlay"></div>
        <span class="card-badge top-right bg-{{badgeVariant}} text-white">{{badgeText}}</span>

        <div class="position-relative">
            <img [src]="blogImg" alt="" class="card-img-top" />

            <div class="shape text-white bottom">

                <svg width="528px" height="40px" viewBox="0 0 528 40" version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    <g id="shape" transform="matrix(-1.138336E-07 -1 1 -1.138336E-07 0 39.92764)">
                        <path
                            d="M0 0L40.5467 0C40.5467 0 -31.8215 230.87 38.7134 528.217C39.8794 533.133 31.7549 527.502 31.0925 528.75C28.7914 533.084 26.1543 528.191 24.4327 529.178C59.2372 539.206 14.0091 521.981 12.9329 530.001L1.02722 528.284L0 0Z"
                            transform="translate(7.629395E-06 6.103516E-05)" fill="currentColor" stroke="none" />
                    </g>
                </svg>

            </div>
        </div>
    </div>
    <div class="card-body">
        <div>
            <h4><a [routerLink]="['.']" class="card-title-link">{{blogTitle}}</a></h4>
            <p class="text-muted mb-2">
                {{description}}
                <a [routerLink]="['.']">read more</a>
            </p>
        </div>
        <div class="pt-3" *ngIf="blogFooter">
            <div class="row align-items-center">
                <div class="col-auto">
                    <p class="mb-0">
                        <i data-feather="user" class="icon icon-dual icon-xs me-1"></i>
                        <a [routerLink]="['.']" class="fs-14 align-middle">{{authorName}}</a>
                    </p>
                </div>
                <div class="col text-end">
                    <p class="mb-0">
                        <i data-feather="calendar" class="icon icon-dual icon-xs me-1"></i>
                        <span class="fs-14 align-middle">{{postDate}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>