<div>
    <!-- navbar -->
    <app-navbar-1 navClass="navbar-light zindex-10" ctaButtonClass="btn-outline-secondary btn-sm" [fixedWidth]="true">
    </app-navbar-1>
    <!-- hero -->
    <app-portfolio-item-hero></app-portfolio-item-hero>
</div>
<!-- content -->
<app-portfolio-item-content></app-portfolio-item-content>
<!-- testimonials -->
<app-portfolio-item-testimonials [sliderItems]="sliderItems"></app-portfolio-item-testimonials>
<!-- navigation -->
<app-portfolio-item-navigation></app-portfolio-item-navigation>
<!-- footer -->
<app-footer-1></app-footer-1>
<!-- back to top -->
<a class="btn btn-soft-primary shadow-none btn-icon btn-back-to-top" href="javascript:void(0)" appScrollToTop><i
        class="icon-xxs" data-feather="arrow-up"></i></a>