<div class="header-2">
    <!-- navbar -->
    <app-navbar-1 navClass="navbar-light zindex-10" ctaButtonClass="btn-primary btn-sm" [fixedWidth]="true">
    </app-navbar-1>
    <!-- hero -->
    <app-hero-8></app-hero-8>
</div>
<!-- clients -->
<app-software-clients></app-software-clients>
<!-- features-1 -->
<app-software-features-1></app-software-features-1>
<!-- features-2 -->
<app-software-features-2 [features]="features"></app-software-features-2>
<!-- pricing -->
<app-software-pricing [pricingPlans]="pricingPlans"></app-software-pricing>
<!-- testimonial -->
<app-software-testimonial [testimonialSlides]="testimonialSlides"></app-software-testimonial>
<!-- cta & footer -->
<app-software-footer></app-software-footer>
<!-- back to top -->
<a class="btn btn-soft-primary shadow-none btn-icon btn-back-to-top" href="javascript:void(0)" appScrollToTop><i
        class="icon-xxs" data-feather="arrow-up"></i></a>